In [ ]:
import sqlite3

In [ ]:
sqlite3.sqlite_version

'3.31.1'

In [ ]:
import pandas as pd
import numpy as np

#Создания таблицы

## Таблица AB_CRM_CLIENTS

In [ ]:
! pip install russian-names

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting russian-names
  Downloading russian_names-0.1.2-py3-none-any.whl (652 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 652.3/652.3 KB 3.8 MB/s eta 0:00:00
Installing collected packages: russian-names
Successfully installed russian-names-0.1.2

In [ ]:
from russian_names import RussianNames

In [ ]:
AB_CRM_CLIENTS = pd.DataFrame({'id_client':range(100)})

In [ ]:
last_name = RussianNames(count=70, name=False, surname=True, patronymic=False, gender = True).get_batch()

In [ ]:
last_name +=  RussianNames(count=30, name=False, surname=True, patronymic=False, gender = False).get_batch()

In [ ]:
AB_CRM_CLIENTS['last_name'] = last_name

In [ ]:
first_name = RussianNames(count=70, name=True, surname=False, patronymic=False, gender = True).get_batch()

In [ ]:
first_name += RussianNames(count=30, name=True, surname=False, patronymic=False, gender = False).get_batch()

In [ ]:
AB_CRM_CLIENTS['first_name'] = first_name

In [ ]:
middle_name = RussianNames(count=70, name=False, surname=False, patronymic=True, gender = True).get_batch()

In [ ]:
middle_name += RussianNames(count=30, name=False, surname=False, patronymic=True, gender = False).get_batch()

In [ ]:
AB_CRM_CLIENTS['middle_name'] = middle_name

In [ ]:
sex = [1] * 70 + [0] * 30

In [ ]:
AB_CRM_CLIENTS['sex'] = sex

In [ ]:
AB_CRM_CLIENTS['date_birth'] = pd.Series(pd.date_range(start='1955-01-01', end = '1980-01-01')).sample(100,replace = True,random_state=42).values

In [ ]:
region = ["Москва", "Московская область", "Краснодарский край", "Санкт-Петербург" , "Республика Татарстан", 
          "Свердловская область", "Ростовская область" ,"Республика Башкортостан", "Челябинская область", "Нижегородская область"]

In [ ]:
AB_CRM_CLIENTS['region'] = pd.Series(region).sample(100,replace=True, random_state=42).values

In [ ]:
work_name = ['Инженер', 'Водитель', "Повар", "Охранник", "Кассир", "Парикмахер", "Мерчендайзер", "Продавец", "Менеджер",
             "Сантехник", "Электрик", "Строитель", "Экскаваторщик", "Маляр", "Юрист", "Фотограф"]

In [ ]:
AB_CRM_CLIENTS['work_name'] = pd.Series(work_name).sample(100,replace=True, random_state=42).values

In [ ]:
AB_CRM_CLIENTS['filial'] = pd.Series(range(1,31)).sample(100,replace=True, random_state=42).values

In [ ]:
AB_CRM_CLIENTS['income'] = np.round(np.abs(np.random.randint(4000,200000,size=100))).astype(int)

## Таблица AB_CRM_CONTRACTS

In [ ]:
import random

In [ ]:
AB_CRM_CONTRACTS = pd.DataFrame({'id_dogovor':range(300)})

In [ ]:
AB_CRM_CONTRACTS['id_client'] = pd.DataFrame({'id_client ':range(100)}).sample(300,replace=True, random_state=42).values

In [ ]:
srok_prosrochki = [0] * 215

In [ ]:
p = [srok_prosrochki.append(random.randint(1, 100)) for _ in range(85)]

In [ ]:
random.shuffle(srok_prosrochki)

In [ ]:
AB_CRM_CONTRACTS['srok_prosrochki'] = srok_prosrochki

In [ ]:
AB_CRM_CONTRACTS['date_open_dog'] = pd.Series(pd.date_range(start='2015-01-01', end = '2022-12-12')).sample(300,replace = True,random_state=42).values

In [ ]:
AB_CRM_CONTRACTS['sum_prosrochki'] = AB_CRM_CONTRACTS['srok_prosrochki'].apply(lambda x:  random.randrange(10000, 200000, 5000) if x != 0 else 0).values

In [ ]:
user1 = pd.DataFrame({'id_dogovor': [300], "id_client" : [61], "srok_prosrochki" : [34], "date_open_dog" : pd.to_datetime('2021-05-11 00:00:00'), "sum_prosrochki" : [70000]})

In [ ]:
AB_CRM_CONTRACTS = pd.concat([AB_CRM_CONTRACTS,user1], axis = 0)

In [ ]:
user2 = pd.DataFrame({'id_dogovor': [301], "id_client" : [18], "srok_prosrochki" : [0], "date_open_dog" : pd.to_datetime('2022-05-11 00:00:00'), "sum_prosrochki" : [0]})

In [ ]:
AB_CRM_CONTRACTS = pd.concat([AB_CRM_CONTRACTS,user2], axis = 0)

In [ ]:
sum_credit = []
p = [sum_credit.append(random.randrange(100000, 1000000, 25000)) for _ in range(302)]

In [ ]:
AB_CRM_CONTRACTS['sum_credit'] = sum_credit

In [ ]:
sum_prosrochki  = []
p = [sum_prosrochki.append(random.randrange(10000, 100000, 5000)) for _ in range(302)]

In [ ]:
AB_CRM_CONTRACTS['sum_prosrochki'] = sum_prosrochki

In [ ]:
from datetime import datetime, timedelta

In [ ]:
AB_CRM_CONTRACTS['last_date_platej'] = AB_CRM_CONTRACTS['date_open_dog'].apply(lambda x: x + timedelta(days=random.randint(30, 730)))

In [ ]:
last_platej  = []
p = [last_platej.append(random.randrange(10000, 50000, 2500)) for _ in range(302)]

In [ ]:
AB_CRM_CONTRACTS['last_platej'] = last_platej

## Таблица AB_CRM_CARS

In [ ]:
AB_CRM_CARS = pd.DataFrame({'id_dogovor':range(301)})

In [ ]:
color = ['Red', 'Yellow', 'Blue', 'White', 'Black', 'Grey']

In [ ]:
AB_CRM_CARS['color'] = pd.Series(color).sample(301, replace = True, random_state=42).values

In [ ]:
model = ['Chevrolet Camaro', 'Mini Cooper', 'LADA Granta', 'LADA Vesta', 'Kia Rio']

In [ ]:
AB_CRM_CARS['model'] = pd.Series(model).sample(301, replace = True, random_state=42).values

In [ ]:
user1 = pd.DataFrame({'id_dogovor': [301], "color" : ["Red"], "model" : ['Chevrolet Camaro']})

In [ ]:
AB_CRM_CARS = pd.concat([AB_CRM_CARS,user1], axis = 0)

In [ ]:
AB_CRM_CARS['vin'] = np.random.binomial(1,0.8, size = 302)

In [ ]:
year_manufact = pd.to_datetime(['2016-01-01 00:00:00','2017-01-01 00:00:00','2018-01-01 00:00:00',
                                '2019-01-01 00:00:00', '2020-01-01 00:00:00', '2021-01-01 00:00:00',
                                '2022-01-01 00:00:00','2023-01-01 00:00:00'])

In [ ]:
AB_CRM_CARS['year_manufact'] = pd.Series(year_manufact).sample(302, replace = True, random_state=42).values

## Таблица AB_CRM_PHONES

In [ ]:
number = []
_ = [number.append(random.randint(1000, 9999)) for _ in range(100)]

In [ ]:
AB_CRM_PHONES = pd.DataFrame({'phone':number})

In [ ]:
AB_CRM_PHONES['id_client'] = pd.Series(range(100)).sample(100, replace = True, random_state=42).values

In [ ]:
type_phone = ['мобильный', 'домашний', 'рабочий']

In [ ]:
AB_CRM_PHONES['type_phone'] = pd.Series(type_phone).sample(100, replace = True, random_state=42).values

# Подключение БД

In [ ]:
con = sqlite3.connect('db')
cur = con.cursor()

In [ ]:
AB_CRM_CLIENTS.to_sql('AB_CRM_CLIENTS',con,if_exists='replace',index=False)

In [ ]:
AB_CRM_CONTRACTS.to_sql('AB_CRM_CONTRACTS',con,if_exists='replace',index=False)

In [ ]:
AB_CRM_CARS.to_sql('AB_CRM_CARS',con,if_exists='replace',index=False)

In [ ]:
AB_CRM_PHONES.to_sql('AB_CRM_PHONES',con,if_exists='replace',index=False)

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

# Задание 1

### a) select * from AB_CRM_CARS group by model

In [ ]:
sql = """
select * from AB_CRM_CARS group by model
"""

In [ ]:
select(sql)

   id_dogovor   color             model  vin        year_manufact
0          18  Yellow  Chevrolet Camaro    1  2023-01-01 00:00:00
1           1   Black           Kia Rio    1  2019-01-01 00:00:00
2           2    Blue       LADA Granta    1  2020-01-01 00:00:00
3           0   White        LADA Vesta    1  2022-01-01 00:00:00
4           5  Yellow       Mini Cooper    1  2023-01-01 00:00:00

Запрос выполнится без ошибок, однако таблица свернется в 5 строк т.к. групировка производится по полю model (в которых только уникальные значения поля model)

### b) select vid_product from AB_CRM_CARS group by date_open_dog, sum_credit

In [ ]:
sql = """
select vid_product from AB_CRM_CARS group by date_open_dog, sum_credit
"""

In [ ]:
select(sql)

Запрос выполнится с ошибкой т.к. 
1. неизвестная перменная vid_product
2. групировка по таким полям, которых нет в таблице AB_CRM_CARS

### с) insert into AB_CRM_PHONES (id_client, phone, comment_phone) values (45345311123,89713321123)

In [ ]:
sql = """
insert into AB_CRM_PHONES (id_client, phone, comment_phone) values (45345311123,89713321123)
"""

In [ ]:
select(sql)

Выполнится с ошибкой т.к. не указано 3 значения для добавления в поле comment_phone (указано только 2)

### d) delete from AB_CRM_CONTRACTS having count(id_dogovor) > 1

In [ ]:
sql = """
delete from AB_CRM_CONTRACTS having count(id_dogovor) > 1
"""

In [ ]:
select(sql)

При команде delete надо использовать оператор where для отбора по нужному условию

### e) truncate AB_CRM_CLIENTS

In [ ]:
sql = """
truncate AB_CRM_CLIENTS
"""

In [ ]:
select(sql)

В sqlite данная операция не может быть выполнена т.к. вместо команды truncate используется delete  
Для БД Oracl необходимо написать такой запрос TRUNCATE TABLE AB_CRM_CLIENTS (пропущено слово TABLE)

# Задание 2

### a) Вывести список из 10 ФИО клиентов, их место работы в два поля

In [ ]:
sql = '''select (last_name || ' ' || first_name || ' ' || middle_name) as ФИО, work_name as Место_работы 
from AB_CRM_CLIENTS
limit 10'''

In [ ]:
select(sql)

                             ФИО   Место_работы
0        Армашов Денис Антонович   Мерчендайзер
1         Пенухов Роман Олегович       Охранник
2    Плахотишин Степан Яковлевич  Экскаваторщик
3        Чиркунов Павел Иванович          Юрист
4         Чузавков Иван Олегович       Электрик
5     Березенкин Валерий Юрьевич       Продавец
6        Окалев Борис Георгиевич  Экскаваторщик
7      Мешканцов Иван Михаилович         Кассир
8     Виклов Григорий Георгиевич   Мерчендайзер
9  Трещинкин Вячеслав Викторович      Сантехник

### b) Вывести ФИО клиентов, их возраст, проживающих в регионе Москва

In [ ]:
sql = """select (last_name || ' ' || first_name || ' ' || middle_name) as ФИО, round((julianday(DATE()) - julianday(date_birth)) / 365) as Возраст
from AB_CRM_CLIENTS
where region = 'Москва'
"""

In [ ]:
select(sql)

                              ФИО  Возраст
0       Узелпов Виталий Антонович     44.0
1     Вятютнев Вячеслав Борисович     61.0
2        Стерлков Роман Сергеевич     47.0
3   Радькова Анастасия Богдановна     68.0
4       Жатова Кристина Борисовна     61.0
5      Анурина Клавдия Дмитриевна     67.0
6  Мараихина Валентина Аркадьевна     60.0

### c) Отобрать клиентов из таблицы ab_crm_clients, которые **станут** пенсионерами в 2022 году

Согласно статье http://www.consultant.ru/document/cons_doc_LAW_196563/3c0805c77e95c7af04d427ac71c5a2b4c8b0b45f/ на сайте КонсультантПлюс выход на пенсию в 2022 возможен **для женщин 1967** г. рождения и **мужчин 1962** г. рождения  
Тем самым нам надо отфильтровать клиентов этих годов рождения соответственно

In [ ]:
sql = """select (last_name || ' ' || first_name || ' ' || middle_name) as ФИО
from AB_CRM_CLIENTS
where (sex = 0 and strftime('%Y', date_birth) = '1967') or (sex = 1 and strftime('%Y', date_birth) = '1962')
"""

In [ ]:
select(sql)

                           ФИО
0    Паинский Леонид Антонович
1  Вятютнев Вячеслав Борисович
2      Капанин Пётр Георгиевич
3  Цицанкин Александр Петрович

### d) Посчитать кол-во уникальных клиентов в таблице ab_crm_contracts

In [ ]:
sql = """
select count(distinct id_client) as Уникальные_клиенты from AB_CRM_CONTRACTS
"""

In [ ]:
select(sql)

   Уникальные_клиенты
0                  97

### e) Посчитать кол-во просроченных кредитов по каждому региону (срок просрочки >0) с датой выдачи кредита после 1 июля 2019 года.

In [ ]:
sql = """
select client.region, count(*) as Просроченные_кредиты 
from AB_CRM_CONTRACTS contr 
left join AB_CRM_CLIENTS client on  client.id_client = contr.id_client 
where contr.srok_prosrochki > 0 and  date(contr.date_open_dog)  > "2019-06-01"
group by client.region
"""

In [ ]:
select(sql)

                    region  Просроченные_кредиты
0       Краснодарский край                     3
1                   Москва                     4
2       Московская область                     5
3    Нижегородская область                     2
4  Республика Башкортостан                     2
5     Республика Татарстан                     4
6       Ростовская область                     3
7          Санкт-Петербург                     4
8     Свердловская область                     4
9      Челябинская область                     4

### f) Требуется разослать смс сообщения должникам со сроком просрочки от 30 дней и суммой просрочки от 50 до 100 тыс, у которых больше одного кредита

In [ ]:
sql = """
select id_client, count(*)
from AB_CRM_CONTRACTS  
where (srok_prosrochki > 30) and (sum_prosrochki > 50000 and sum_prosrochki < 100000)
group by id_client
having count(*) > 1
"""

In [ ]:
select(sql)

   id_client  count(*)
0         61         2

### g) Отсортировать филиалы, по кол-ву выданных красных Chevrolet Camaro в прошлом году

In [ ]:
sql = """
select filial, count(*) from AB_CRM_CLIENTS client
left join AB_CRM_CONTRACTS contr on  contr.id_client = client.id_client
left join AB_CRM_CARS cars on  cars.id_dogovor  = contr.id_dogovor
where strftime('%Y', contr.date_open_dog) = '2022' and cars.color = "Red" and cars.model = 'Chevrolet Camaro'
group by filial
"""

In [ ]:
select(sql)

   filial  count(*)
0      24         1

### h) Вывести Клиента и его все номера в одном поле через «;»

In [ ]:
sql = """
select id_client,group_concat(phone, ';') as Номера
from AB_CRM_PHONES
group by id_client
"""

In [ ]:
select(sql)

    id_client               Номера
0           1  9489;2882;7640;9621
1           2            5217;3573
2           3       2769;6346;8826
3           5                 5709
4           6                 6444
..        ...                  ...
56         90                 2693
57         91            1187;5595
58         92            5761;4705
59         94                 2194
60         99            8823;4990

[61 rows x 2 columns]

### i) Вывести все кредиты по которым VIN номер не является валидным

Т.к. нету четкого указания полей (в тз написано *все кредиты*), то 
+ выведу все поля таблицы AB_CRM_CONTRACTS 
+ выведу id_dogovor, sum_credit, sum_prosrochki 
PS: не валидный VIN номеря я обозначил как 0

In [ ]:
sql = """ 
select contr.id_dogovor, contr.id_client, contr.srok_prosrochki, contr.date_open_dog, contr.sum_prosrochki, contr.sum_credit from AB_CRM_CONTRACTS contr
left join AB_CRM_CARS cars on cars.id_dogovor = contr.id_dogovor
where cars.vin = 0
"""

In [ ]:
select(sql)

,id_dogovor,id_client,srok_prosrochki,date_open_dog,sum_prosrochki,sum_credit
0,2,14,0,2018-02-04 00:00:00,75000,375000
1,21,63,0,2018-03-30 00:00:00,20000,875000
2,22,59,0,2016-04-04 00:00:00,35000,675000
3,30,90,0,2022-07-10 00:00:00,40000,725000
4,34,59,0,2022-06-27 00:00:00,75000,500000
...,...,...,...,...,...,...
64,287,89,0,2020-04-03 00:00:00,20000,200000
65,290,0,0,2022-11-09 00:00:00,60000,700000
66,293,68,0,2015-06-10 00:00:00,70000,200000
67,299,47,0,2019-03-08 00:00:00,50000,400000
68,301,18,0,2022-05-11 00:00:00,40000,475000

In [ ]:
sql = """ 
select contr.sum_prosrochki, contr.sum_credit from AB_CRM_CONTRACTS contr
left join AB_CRM_CARS cars on cars.id_dogovor = contr.id_dogovor
where cars.vin = 0
"""

In [ ]:
select(sql)

    sum_prosrochki  sum_credit
0            75000      375000
1            20000      875000
2            35000      675000
3            40000      725000
4            75000      500000
..             ...         ...
64           20000      200000
65           60000      700000
66           70000      200000
67           50000      400000
68           40000      475000

[69 rows x 2 columns]

### j) Посчитать средний доход у женщин, владелиц пятилетних Mini Cooper

Пятилетние  Mini Cooper = 2023 (настоящий год) - 5 = 2018  
Автомобили которые были выпущены в 2018

In [ ]:
sql = """ 
select avg(client.income) as Средний_доход  from AB_CRM_CLIENTS client
left join AB_CRM_CONTRACTS contr on contr.id_client = client.id_client 
left join AB_CRM_CARS cars on cars.id_dogovor = contr.id_dogovor 
where sex = 0 and model = 'Mini Cooper' and strftime('%Y', year_manufact) = '2018'
"""

In [ ]:
select(sql)

   Средний_доход
0       132059.0

# Задание 3

### a) Напишите функцию, позволяющую выводить флаг 1 или 0 для даты выпуска авто (если авто текущего года, то 1, иначе 0)

За текущий год считаю 2023

In [ ]:
sql = """
select *,
case
  when strftime('%Y', year_manufact) = '2023'
    then 1
  else 0
end as flag
from AB_CRM_CARS
"""

In [ ]:
select(sql)

     id_dogovor  color             model  vin        year_manufact  flag
0             0  White        LADA Vesta    1  2022-01-01 00:00:00     0
1             1  Black           Kia Rio    1  2019-01-01 00:00:00     0
2             2   Blue       LADA Granta    1  2020-01-01 00:00:00     0
3             3  Black           Kia Rio    1  2022-01-01 00:00:00     0
4             4  Black           Kia Rio    0  2018-01-01 00:00:00     0
..          ...    ...               ...  ...                  ...   ...
297         297  White       LADA Granta    1  2022-01-01 00:00:00     0
298         298   Grey        LADA Vesta    0  2020-01-01 00:00:00     0
299         299   Blue  Chevrolet Camaro    1  2023-01-01 00:00:00     1
300         300   Grey           Kia Rio    1  2016-01-01 00:00:00     0
301         301    Red  Chevrolet Camaro    1  2016-01-01 00:00:00     0

[302 rows x 6 columns]

### b) Напишите код - как без соединения таблиц удалить дубли телефонов у клиента. Уникально клиент, телефон.

#### Напишу sql запрос, который выводит 1 уникального клиента - 1 уникальный номер (вне зависимости от типа номера)

In [ ]:
sql = """
select phone,id_client from (
select *,
row_number() over (partition by id_client order by id_client) as row
from AB_CRM_PHONES)
where row = 1
order by id_client
"""

In [ ]:
select(sql)

    phone  id_client type_phone
0    1196         51    рабочий
1    8841         92  мобильный
2    4276         14    рабочий
3    6745         71    рабочий
4    4459         60  мобильный
5    2191         20  мобильный
6    2210         82    рабочий
7    6852         86   домашний
8    3925         74    рабочий
9    2879         87    рабочий
10   4138         99    рабочий
11   8129         23  мобильный
12   3505          2    рабочий
13   6499         21   домашний
14   4268         52  мобильный
15   1393          1   домашний
16   7067         29   домашний
17   3332         37   домашний
18   8907         63  мобильный
19   3393         59   домашний
20   8280         32  мобильный
21   3016         75  мобильный
22   2222         57  мобильный
23   1066         88    рабочий
24   6617         48    рабочий
25   4347         90   домашний
26   5034         58    рабочий
27   7846         41   домашний
28   2272         91   домашний
29   3615         79   домашний
30   2036         61    рабочий
31   6515         46    рабочий
32   9148         50    рабочий
33   2467         54    рабочий
34   8503          6   домашний
35   5032         38   домашний
36   5188         17   домашний
37   9015          3  мобильный
38   3428         13   домашний
39   2723          8    рабочий
40   2436         89    рабочий
41   7176         83    рабочий
42   2887         70   домашний
43   6886         43   домашний
44   8465          7   домашний
45   3112         34   домашний
46   8651         77   домашний
47   1037         80   домашний
48   9383         35  мобильный
49   6003         49    рабочий
50   4006          5   домашний
51   2843         53   домашний
52   1976         62    рабочий
53   4388         33   домашний
54   1844         73  мобильный
55   9980         94  мобильный
56   6026         47   домашний
57   8054         39  мобильный
58   7854         84  мобильный
59   4338         81    рабочий

#### Напишу sql запрос, который удаляет совсем из бд номера (в таблице хранятся данные по принципу 1 уникального клиента - 1 уникальный номер)

In [ ]:
sql = """
DELETE FROM 
AB_CRM_PHONES
where phone in (select phone from (
select *,
row_number() over (partition by id_client order by id_client) as row
from AB_CRM_PHONES)
where row != 1)

"""

In [ ]:
select(sql)

In [ ]:
sql = """
select phone,id_client from AB_CRM_PHONES
"""

In [ ]:
select(sql)

#### Если просто телефоны повторяются у клиентов

In [ ]:
id_client = [i for i in range(100)]

In [ ]:
id_client *= 2

In [ ]:
AB_CRM_PHONES2 = pd.DataFrame({'id_client':id_client})

In [ ]:
number = [1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009] * 10

In [ ]:
AB_CRM_PHONES2['phone'] = pd.Series(number).sample(200, replace = True, random_state=42).values

In [ ]:
AB_CRM_PHONES2.to_sql('AB_CRM_PHONES2',con,if_exists='replace',index=False)

In [ ]:
sql = """
DELETE FROM 
AB_CRM_PHONES
where phone in (
select phone from(
select *, row_number() over (partition by id_client order by id_client) as row
from AB_CRM_PHONES2)
where row != 1)
"""

In [ ]:
select(sql)

In [ ]:
sql = """
select phone, id_client from AB_CRM_PHONES
order by id_client
"""

In [ ]:
select(sql)

    phone  id_client
0    1393          1
1    3505          2
2    9015          3
3    4006          5
4    8503          6
5    8465          7
6    2723          8
7    3428         13
8    4276         14
9    5188         17
10   2191         20
11   6499         21
12   8129         23
13   7067         29
14   8280         32
15   4388         33
16   3112         34
17   9383         35
18   3332         37
19   5032         38
20   8054         39
21   7846         41
22   6886         43
23   6515         46
24   6026         47
25   6617         48
26   6003         49
27   9148         50
28   1196         51
29   4268         52
30   2843         53
31   2467         54
32   2222         57
33   5034         58
34   3393         59
35   4459         60
36   2036         61
37   1976         62
38   8907         63
39   2887         70
40   6745         71
41   1844         73
42   3925         74
43   3016         75
44   8651         77
45   3615         79
46   1037         80
47   4338         81
48   2210         82
49   7176         83
50   7854         84
51   6852         86
52   2879         87
53   1066         88
54   2436         89
55   4347         90
56   2272         91
57   8841         92
58   9980         94
59   4138         99

### с) Напишите процедуру, в которой в таблице AB_CRM_CONTRACTS апдейтится дата и сумма последнего платежа по каждому кредиту (таблицу с платежами придумать самостоятельно).

In [ ]:
AB_CRM_PAYMENT = pd.DataFrame({'id_client':range(100)})

In [ ]:
AB_CRM_PAYMENT = pd.concat([AB_CRM_CONTRACTS['id_client'],  AB_CRM_CONTRACTS['last_date_platej'] + timedelta(days=random.randint(15, 45))], axis =1)

In [ ]:
AB_CRM_PAYMENT = AB_CRM_PAYMENT.drop_duplicates(["id_client"])

In [ ]:
last_date_platej  = []
p = [last_date_platej.append(random.randrange(100000, 1000000, 25000)) for _ in range(302)]

In [ ]:
AB_CRM_PAYMENT['last_platej'] = last_platej

In [ ]:
AB_CRM_PAYMENT.to_sql('AB_CRM_PAYMENT',con,if_exists='replace',index=False)

In [ ]:
cur.execute("""UPDATE AB_CRM_CONTRACTS 
set last_date_platej = ( select AB_CRM_PAYMENT.last_date_platej
                    from AB_CRM_PAYMENT  
                     where AB_CRM_CONTRACTS.id_client = AB_CRM_PAYMENT.id_client),
last_platej = ( select AB_CRM_PAYMENT.last_platej
                from AB_CRM_PAYMENT  
                where AB_CRM_CONTRACTS.id_client = AB_CRM_PAYMENT.id_client)
 """)
con.commit()

In [ ]:
sql = """
select * from AB_CRM_PAYMENT
"""

In [ ]:
select(sql)

,id_dogovor,id_client,srok_prosrochki,date_open_dog,sum_prosrochki,sum_credit,last_date_platej,last_platej
0,0,51,0,2017-05-10 00:00:00,15000,300000,2018-03-13 00:00:00,30000
1,1,92,18,2018-07-18 00:00:00,60000,950000,2019-03-25 00:00:00,30000
2,2,14,0,2018-02-04 00:00:00,25000,475000,2019-08-03 00:00:00,25000
3,3,71,0,2017-12-31 00:00:00,35000,800000,2019-12-01 00:00:00,15000
4,4,60,0,2019-06-27 00:00:00,55000,900000,2020-10-20 00:00:00,22500
...,...,...,...,...,...,...,...,...
297,297,98,0,2018-07-24 00:00:00,70000,775000,2018-07-12 00:00:00,22500
298,298,18,0,2017-03-26 00:00:00,50000,900000,2021-07-12 00:00:00,42500
299,299,47,0,2019-03-08 00:00:00,20000,175000,2023-01-26 00:00:00,22500
300,300,61,34,2021-05-11 00:00:00,60000,775000,2019-09-01 00:00:00,37500
301,301,18,0,2022-05-11 00:00:00,20000,500000,2021-07-12 00:00:00,42500